$backgroundColor: #363D45;
$headerColor: #E1675A;
$actionColor: rgb(203, 92, 81);
$textColor: #fff;
$listHeadingColor: rgb(34, 39, 45);
$listDescColor: rgb(231, 241, 244);
$goodColor: rgb(40, 184, 119);
$todoColor: rgb(39, 106, 184);
body {
  background: $backgroundColor;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, p, h2, h3 {
  padding: 0;
  margin: 0;
  color: $textColor;
}

button, input {
  outline: none;
}

button {
  background-color: $actionColor;
  border: none;
  color: #fff;
  &:hover {
    cursor: pointer;
    background: darken($actionColor, 5%)
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background: $headerColor;
  /* padding: 30px;*/
  /* position: relative;*/
  height: 80px;
  top: 0;
  width: 100vw;
  z-index: 2;
  h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  button {
    margin-left: auto;
    background: none;
    /* border: 1px solid darken($headerColor, 10%);*/
    /* border-radius: 3px;*/
    /* padding: 10px;*/
    z-index: 3;
    &:hover {
      background: darken($headerColor, 10%);
    }
  }
}

.login-modal {
  border-radius: 3px;
  input {
    padding: 30px;
    font-size: 1.5rem;
    border: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  button {
    padding: 30px;
    font-size: 1.5rem;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.new-todo-modal {
  border: 0;
  border-radius: 3px;
  h2 {
    font-weight: normal;
    padding: 20px 0 0 20px;
  }
  label {
    padding: 20px;
  }
  input {
    padding: 30px;
    font-size: 1.5rem;
    border: 0;
    background: darken(#fff, 5%);
  }
  button {
    padding: 30px;
    font-size: 1.5rem;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

#new-todo { position: absolute;; top: 0; right: 0; width: 80px;
  /* padding: 30px;*/
  height: 100%;
  background: darken(rgb(203, 92, 81),5%);
}

#search-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  font-size: 1.5rem;
  &:hover {
    background: darken(rgb(203, 92, 81),5%);
  }
}

#search-bar {
  position: absolute;
  top: 0;
  left: 80px;
  height: 80px;
  width: 0;
  padding: 0;
  font-size: 1.5rem;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  z-index: 4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#modal-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  .modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fff;
    width: 80%;
    h2 {
      color: #fff;
      background: $actionColor;
      border: 0;
      padding: 20px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    #new-todo-form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  .new-todo-modal {
    display: none;
  }
}

#todos {
  margin-top: 100px;
  overflow: scroll;
  overflow-x:hidden;
  overflow-y:hidden;
  li {
    margin: 20px 0 20px 0;
    position: relative;
    > i {
      position: absolute;
      top: 50%;
      left: 2vw;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-size: 1.5rem;
      /* color: rgb(40, 184, 119);*/
      color: $todoColor;
    }
    div {
      width: 80%;
      margin: 0 auto;
      h3 {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        width: 100%;
        padding: 20px;
        font-weight: normal;
        background-color: $listHeadingColor;
      }
      p {
        padding: 20px;
        font-size: 1rem;
        background-color: $listDescColor;
        color: #727C84;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
    .list-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      border: 0;
      .trash-btn {
        position: absolute;
        right: 0;
        height: 100%;
        width: 60px;
        top: 0;
        border: 0;
        border-top-right-radius: 3px;
      }
    }
    .list-descr {
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-child {
      margin-bottom: 100px;
    }
  }
  .completed {
    .fa-check {
      color: $goodColor;
    }
    div {
      h3 {
        background: rgba(34, 39, 45, 0.5);
        text-decoration: line-through;
        color: rgba(255,255,255,0.5);
      }
      .trash-btn {
        background: rgba(203, 92, 81, 0.5);
        color: rgba(255,255,255,0.5);
      }
      p {
        background: rgba(231, 241, 244,0.5);
      }
    }
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100vw;
  .filter-button {
    width: calc(100%/3);
    height: 100%;
  }
  .selected {
    background: darken($actionColor, 5%);
  }
}
